/* Common */
body{

    font-family: Arial, sans-serif;
    position: relative;
}
 /* Colors */
 .bg_white{
     background-color: white;
 }
 .bg_red{
     background-color: #cd3d0f;
 }
/* Typo */
h2{
    font-size: 30px;
    margin: 20px 0;
    font-weight: 600;
}
h6{
    font-size: 13px;
    font-weight: 600;
}
/* Buttons*/
.btn{
    border-radius: 20px;
}
.btn_search{
    border: 0;
    background-color: transparent;
}

/* Header */

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.header_top{
    background-color: black;
}
.header_top_logo img{
    width: 75px;
}

/* Main*/
main{
  
    margin-top: 118px;
    height: 200px;
}
/* Hero */
#hero{
    min-height: 650px;
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size:cover;
    background-position-x: 80%;
    color: white;
    display: flex;
    align-items:center;
}
.hero_content img{
    max-width: 250px;
    width: 100%;
}

.small_box{
    margin: 50px;
    display: flex;
    align-items: flex-end;
    min-height: 600px;
}
.hero_content button{
    color: white;
}

.card{
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0px;
}

.album_game{
    margin-bottom: 40px;
}
/*PS-5*/
#PS-5 h6{
    color: #0072ce;
    margin-bottom: 0px;
}
#PS-5 h2{
    margin-top: 0px;
}

.console img{
    max-width: 500px;
    width: 100%;
}
.console{
    position: relative;
    bottom:100px;
}

.ps5-top{
    margin-bottom: 100px;

}
/* Footer */

/* Hover effects */