/* Common */
body{
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
}
.card{
    border: 0;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0px;
}
 /* Colors */
 .bg_white{
     background-color: white;
 }

 .bg_white_trasparent{
    background-color: rgba(255, 255, 255, 0.616);
}
 .bg_red{
     background-color: #cd3d0f;
 }

 
/* Typo */
h2{
    font-size: 30px;
    margin: 20px 0;
    font-weight: 600;
}
h6{
    font-size: 13px;
    font-weight: 600;
}
/* Buttons*/
.btn{
    border-radius: 20px;
}
.btn_search{
    border: 0;
    background-color: transparent;
}

/* Header */

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.header_top{
    background-color: black;
}
.header_top_logo img{
    width: 75px;
}

/* Main*/
main{
  
    margin-top: 118px;
    height: 200px;
}
/* Hero */
.hero{
    padding: 250px 0 50px 0;
    background-image: url(../img/jumbo-bg.png);
    background-size:cover;
    background-position:top center;
    color: white;
    display: flex;
    align-items:flex-end;
}

.hero_content{
    padding-bottom: 60px;
}
.hero_content img{
    max-width: 250px;
    width: 100%;
}

.hero_content button{
    color: white;
}

.album_game{
    margin-bottom: 40px;
}
/*PS-5*/
#PS-5{
    color: black;
}
#PS-5 h6{
    color: #0072ce;
    margin-bottom: 0px;
}
#PS-5 h2{
    margin-top: 0px;
}

.console img{
    max-width: 500px;
    width: 100%;
}
#console_h2{
    padding-top: 80px;
}

/* subscription */
.hero.subscription{
    background-position: bottom;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* new releases*/
#new_releases{
    background-color: #1f1f1f;
    padding-bottom: 50px;
}

/* PS-4 */
#PS-4{
    padding: 50px 0;
    color: black;
}

/* Sales */

#sales{
    background-color: #bebcbb;

}
#sales .hero_content{
    padding-top: 50px;
}
.sale_img img{
    width: 400px;
   object-fit: cover;

}

#sales button{
    color: #2d64e6;
}
/* Footer */

/* Hover effects */